.file {
    padding: 0.25em;
    border-bottom: 1px solid #dddddd;
}

.section {
    margin-bottom: 5px;
}

.ui-selected { 
    background: #007fff; 
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

/* Added css */
/* for path selection and file system */
#path_info {
    padding: 0.25em;
    background-color: #007fff;
    color: white;
}

.selected {
    background-color: gray;
    color: white;
}

.permission_row {
    padding: 1em;
}

.cog-button-css {
    padding: 0.4em;
    margin-left: 0.5em;
}

.perm_group_info {
    margin-right: 0.5em;
}

/* general settings */
#user_list_for_group, #special_perm_group_dialog {
    font-style: italic;
    font-size: 0.8em;
    font-weight: normal;
}

/* current does not work vv, supposed to change the disabled checkbox color */
input[type="checkbox"]:disabled {
    background-color: gray;
}